.Thread {
  margin-top: 5px;
  cursor: pointer;
}

.Thread-title {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif !important;
  font-size: 40px;
}

.Thread-prop-unanswered {
  background: rgba(0, 0, 0, 0.1);
}

.Thread-seperator {
  height: 6px;
  background: url(./hr.png) repeat-x 0 0;
  border: 0;
}

.Thread-content {
  text-align: left;
  width: 100%;
}

.zoomout {
  zoom: 0.75;
}

.Thread-content-markdown p img {
  max-width: 100%;
}

fieldset {
  border-color: rgba(0, 0, 0, 0.01);
  border-width: 5px;
  padding: 28px;
}

fieldset legend {
  /* position: fixed; */
  position: relative;
  top: -8px;
  background: white;
  color: cadetblue;
}

.raise {
  transition: all 0.5s;
}

.raise:hover {
  border-color: rgb(246, 186, 69);
}

.raise-faded {
  transition: all 0.5s;
}

.raise-faded:hover {
  border-color: #e5e5e5;
}
