.ThreadFooter {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.336);
  font-family: monaco, meleno, monospace;
  width: 100%;
  height: 50px;
  display: flex;
}

.ThreadFooter-UserImage{
    display: flex;
}

.ThreadFooter-docked {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 1);
  font-family: monaco, meleno, monospace;
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 9;
  padding: 5px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
}

.ThreadFooter-docked .ThreadFooter-user-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
}

.ThreadFooter .ThreadFooter-user-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.ThreadFooter-user-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
}

.ThreadFooter-user-image:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.22);
}

.ThreadFooter-elements {
  height: 50px;
  display: inline-block;
  text-align: left;
  padding: 15px;
  padding-left: 20px;
}
.ThreadFooter-elements p {
  margin: -10px;
}

.ThreadFooter-like {
  user-select: none;
  font-size: 25px;
  margin-left: auto;
  display: inline-block;
  padding: 11px;
  transition: all 0.5s;
}

.ThreadFooter-like span:hover {
  animation: pound 0.3s;
}

.color-blue {
  color: skyblue;
}

@media only screen and (max-width: 500px) {
  .ThreadFooter-like {
    margin-right: 10px;
  }
}
